#Eclipse#
.settings
.classpath
.project

## IntelliJ IDEA
*.iml
.idea/

## Build
*.class
target
viestintapalvelu-ui/src/main/webapp
!webapp/index.jsp
!webapp/initpage.jsp
!webapp/WEB-INF/
## Package Files
*.war
*.ear

## General
**/Scrapbook.jpage
**/.tern-project
**/rebel.xml
*.log

## Macintosh
.DS_Store

## NodeJS & npm
node_modules/
node/

