#Eclipse#
.settings
.classpath
.project

*.class

# Package Files #
# gradle-wrapper.jar is required
#*.jar 
*.war
*.ear

target

.DS_Store

#idea
*.iml
.idea/

**/Scrapbook.jpage
**/.tern-project
**/rebel.xml
