sudo: required

language: java

jdk:
- oraclejdk8

services:
- docker

cache:
  directories:
  - $HOME/.m2

env:
  global:
  # ARTIFACTORY_USERNAME
  - secure: "sgUlqOaSFsIk9aR8C0x2aJrYyVCdJ8R+oGbFeR4eCciMWT3Y9W4Y+zGK6AUzmL9u/YoQTwBUGTR4v7PBt3k1iKfz+kXtqmPRDekrZcVGqtujr7DtOqgtijzhzIstW+39V/HHLAJauUtLY7CCjM+p+oDnXMUxl0/gawCBQyHqKLVczNNwQ8LkLah7u2qgV5UnmVZ3gdtsndk6y606ZN7odlCrBedX7ktBi8pUe/BO2pM1/dPiaaeCPNz897LSJ0ephyQifhLByD35AYP4AYTe84EsB1EQHvVw0gyOUhR63RVSvD/GBVv1eeAf0scNbZ7CQp0C9WYt0X8i527/0B/hGDXnKXcZTIX1TE+AzkOCxX8uEFXKh7nLs+7HxTwSTwoe4NdlxQrn8mOnXQkOnUfF0cQZC64VE4ANdk8FEWwG6Bp6hSQZ+tFROgHys09A4eBDozJLv/d9o7hmiChBmXGMrbLcxoNozQwrut3PR92qqRu5A3TWza83O0SNtZcM/z40OdrHN88GB5i2Vq+ZdM6bJ0O0ljCe0I9o61/YgGvcXgO2zKiporgi6SXuz48/jItpgDy3yKlVBU7JDHaKUiGgp7/MRV+X7u/WgsLzdQWbpKfXGSeA1KHK1qMv/89tkgddMZdxBhPvSDGri6OMcDgKzaXZqwxcB1x6AI0q9162umU="
  # ARTIFACTORY_PASSWORD
  - secure: "X+0y233mYCX3BKE4+UoPFTO2+JJPVSmBpi/dkTNnb2Ax84VRf0EgzdyGbEhUrkGcEIktAdWdHa7526aCUo/ilApNarJsxCDzhxG7qAB2ThZHjJJSevj3uBpWnbooqfMau1BKqJYjgTdHFFy3VyxTkMktCawXqvWDn8b8hvwj5LJ9tG5VjtdJ5N3JDhuITJ1KVTtbjBlPlMUdsy/VqN4SxX2UuLrHtco9lp6ZJZphAS473VOu0iweAS0tLxTyTtscNHhpRDpNkGT9JxgN6CH5GEzd/bd4O3VlSmwauc7ebPOUNBr3DRx6sCHwFa28wScGA50UPU2pv1qQzitZ3mmiQjevfBkBlWQgovE8cEDrDLFddI4n4rKWCJXrpE6O7/JX9G7DAIswIOLZunV1b46dt1xLlSJcHxaFn3MBqHsWmH69/XcZgY2O6Vmno7Bf3LRAo4as2wqbyzcjX6zzVDHLmNeLUcKLJ8MJcIVglV5tzzdzk1OGPviOkByDX/CpjE7Hl2A5G8vbACzS1uH+/8DpqrSVU43nqzU6SGCnpbXdKbZvGxREL0ulm9KamOCvdBzWB5dLCEFKxa0iyq7ry9D7d5SdeBMLH3pvGRlnJauRYyOzWW9MjRWMaP5lVUSwPaBmmdDQa9GHi2ow4zmEPQADh6yYE9mkOgk1k61LTQ+Y/aM="
  # AWS_ACCESS_KEY_ID
  - secure: "Ipykd7gKqUyG9GdF84qsOdq/v0kfALB0bj8IQPlJST1JLJXZTIfKLGbdgNZ5LQngpa3ooRlaM+cnebNmkhNJK+AlNX7Cubo/RAoa6dwluVhEf4InVR3takqp0GsvWCd33jNYFbTseq6EwZV9og/dfAgDr0oSI/BqVczgFtW5tkzwFm3uryTj+YcFLsWmBqJrJXfh1PWMTTVuMOtNt0rBmdccqY86ZF/EsimWDKRGqA5iuyaFT36IFHxk4maqXkSJrkm5lPmvJ3FJ3XNw1pVCojBtDNtZGvGMOG+GpCeVh/lqpOiZNgccqkFdez4EIkonBEj8JQnRGHq4MJmBsX2TU8cU8AJU8rGpYtcETLrZvALn83RTbo2yaSO3hZeZ2CjIt+EKD9RXk0m2DWFVlqaiwBo8n6Rb5RXPtpoZqzBGVRRku9bfqSU9xqGS2SryuExuWUHY/otN9j7ismMTcvlxGaKpIMYHrCJsmw4a+m9Z4/EO3cnFTAFMQ8qsbCk6HiomqH+bR0urZWDb3sM7y2g9oY6fQNMJvHQbh5UiEjby0p8SoD85Shyw8Q+SHXH2QQldFa6Fmu1exHI5YnAaRl1noapGIc6v0jr0I9vCHXzOxAYRn0YAKMfWbMW72BNPuPwcXtE38VjOca/1/azuOl2KJnmdpbjBij+74tgAliNV7lg="
  # AWS_SECRET_ACCESS_KEY
  - secure: "rTcaKneFV0WZNPeIBp62aMAy9Uv+u75ymNl7eBaI4U7oLp1P83uXveJ4vmgaty2LrP3c5dOjUUt3mt15ogPD3sVql9jdhosygyedo8mAN5A168+OlM9FolIm71OTmSJCEFMYLEBbKdaWsVVglWbz+t74HZevkftA7/RI1IqbKAhHvVu57jhwOcD/N96+Tq399K7+bSZ/Pb6uGdWdjwF3JtEdbxY7XPEkYZP0Ym+ijH3HFzZ0sQbksvlvWsg5aRvhtZTotWOi+Xfc+uDIvfmUU2HFh3ZKM3nACgciCoBvXwh4jK+vooFATAC1nHoGSSHlN8S98afMwbPy9P/4+nElfMqkoKqrvrNCzPUvovYaanZcfJp2kh79IUEgCihX4djAyKW0BArlCZeKsA0OKLRUFKlHQv8Ag1reoH5KGK4bCXDyASZiaIz7RIcmMmPMx51rd63KqDXQOa3pYX7vvJ2IF6SXB9WbiegX9xNsv/EP3shno9oGQAbikRLZD73I6u5SB0M1vU0cPSSMu3NAKDAeSwD/LoHdzIf4WR/SEyCHZWgw+9hcMrrNcCKPRudW8JjON5YNo0hREhRKX0VjZ6pGnKs3BFWVDO8vS6FWK5oyqI9lkztthtQOyf5cpkfKhSAirI8794N0VeajBu8blwz8u8lApca2LwAj2H72KYHI1Eo="

install:
- git clone https://github.com/Opetushallitus/ci-tools.git
- source ci-tools/common/setup-tools.sh
- export ARTIFACT_NAME="viestintapalvelu"

script:
- mvn clean package -B -Dbranch=${TRAVIS_BRANCH} -Drevision=${TRAVIS_COMMIT} -DbuildNumber=${TRAVIS_BUILD_NUMBER}

- mv -v ryhmasahkoposti-service/target/ryhmasahkoposti-service.war $DOCKER_BUILD_DIR/artifact/ryhmasahkoposti-service.war
- mv -v viestintapalvelu-ui/target/viestintapalvelu-ui.war $DOCKER_BUILD_DIR/artifact/viestintapalvelu-ui.war
- mv -v viestintapalvelu-service/target/viestintapalvelu.war $DOCKER_BUILD_DIR/artifact/viestintapalvelu.war
- cp -vr src/main/resources/oph-configuration $DOCKER_BUILD_DIR/config/

- export BASE_IMAGE="base-legacy:0.1"
- ./ci-tools/common/pull-image.sh
- ./ci-tools/build/build-war.sh $ARTIFACT_NAME

deploy:
- provider: script
  script: mvn deploy -pl viestintapalvelu-api -DskipTests --settings ci-tools/common/maven-settings.xml
  skip_cleanup: true
  on:
    branch: master
- provider: script
  script: mvn deploy -pl ryhmasahkoposti-api -DskipTests --settings ci-tools/common/maven-settings.xml
  skip_cleanup: true
  on:
    branch: master
- provider: script
  script: ./ci-tools/build/upload-image.sh $ARTIFACT_NAME
  on:
    all_branches: true