<div ng-controller='TemplateController'>
    <div>
        <h3>Valitse jokin esimerkkipohjista:</h3>
        <select ng-model="exampleFile" ng-options="e as e for e in exampleFiles" ng-change="selectExample()"></select>
    </div>
    <div ng-show="showTemplateData">
        <h3>Lopullinen pohja:</h3>
        <textarea class="span12" ng-model="template"  rows="10" style="height: 300px;"></textarea>
        <button ng-click="saveTemplate()" class="inline-operation btn btn-small">Tallenna pohja</button>
    </div>
</div>
