<div ng-controller="IPostiCtrl" ng-init="retrieveBatches()">
	<h3>IPosti testikäyttöliittymä</h3>
	
	<!-- Listaa lähettämättömät osat -->
	<p>Lähettämättömät IPosti-osat <span><button ng-click="retrieveBatches()">Päivitä</button></span></p>
	<div ng-show="unsentBatchesExist()">
		<ul class="nav nav-pills nav-stacked">
			<li ng-repeat="batch in unsent" ng-click="selectBatch($index)">
				<a href="#">
					<span class="iposti_id">Tunniste: {{batch.id}}</span><br>
					<span class="iposti_date">Päivämäärä: {{batch.date}}</span><br>
					<span class="iposti_name">Aineiston nimi: {{batch.name}}</span>
				</a>
			</li>
		</ul>
	</div>
	<div ng-hide="unsentBatchesExist()">
		<p>Ei lähettämättömiä IPosti-osia</p>
	</div>

	<input type="file" id="file" name="file"/>
	<button ng-click="uploadCustomBatch()">Send custom batch</button>

	<!-- Tarkastele lähettämätöntä osaa -->
	<div ng-if="selectedBatch">
		<p>Valittu osa:</p>
		<span>Tunniste: {{selectedBatch.id}}</span><br>
		<span>Päivämäärä: {{selectedBatch.date}}</span><br>
		<button class="btn" ng-click="downloadBatch()">Lataa valittu osa</button>
		<button class="btn" ng-click="downloadMail()">Lataa koko kirjelähetys</button>
		<button class="btn" ng-click="sendBatch()">Lähetä valittu osa</button>
		<button class="btn" ng-click="sendMail()">Lähetä koko kirjelähetys</button>
		<button class="btn" ng-click="retrieveDetails()">Hae kirjelähetyksen tiedot</button>
	</div>
	<div ng-if="!selectedBatch">
		<p>Valitse tarkasteltava osa</p>
	</div>
	
	<br>
	<br>
	
	<!-- Tarkastele kirjelähetyksen tietoja -->
	<div ng-if="showDetails">
		<table>
			<thead></thead>
			<tbody>
				<tr><td>Pohjan id</td><td>{{details.templateId}}</td></tr>
				<tr><td>Pohjan tyyppi</td><td>{{details.templateName}}</td></tr>
				<tr><td>Pohjan korvaussisältö</td><td>{{details.templateReplacements.sisalto}}</td></tr>
				<tr><td>Kielikoodi</td><td>{{details.languageCode}}</td></tr>
				<tr><td>TallennusOID</td><td>{{details.storingOid}}</td></tr>
				<tr><td>OrganisaationOID</td><td>{{details.organizationOid}}</td></tr>
				<tr><td>Hakuaika</td><td>{{details.applicationPeriod}}</td></tr>
				<!--
				<tr><td>fetchTarget</td><td>{{details.fetchTarget}}</td></tr>
				<tr><td>tag</td><td>{{details.tag}}</td></tr>
				<tr><td>letters</td><td>{{details.letters}}</td></tr>
				<tr><td>template</td><td>{{details.template}}</td></tr>
				<tr><td>IPostiData</td><td>{{details.iPostiData}}</td></tr>
				 -->
			</tbody>
		</table>
	</div>
</div>