<div>
<h3>Testikäyttöliittymän testivaihe</h3>
<p>Toiminnallisuus: valitse tulostettavien koekutsukirjeiden lukumäärä (1-100) valintalistasta. 
   Koekutsukirjeet generoidaan  kun PDF-painiketta on painettu.</p>
<p>Huom! Tämän käyttöliittymän logiikka on seuraava: 
<ul>
 <li> Aina kun klikataan valintalistasta lisää tulostettavia kirjeitä nuoli ylöspäin-näppäimellä,
      generoidaan muistiin (client-päässä) kirje käyttäen sillä hetkellä editorissa olevaa sisältöä! </li>
 <li> Kun valitaan tulostettavien kirjeiden lukumäärää pienemmäksi, poistetaan (client-päässä) generoitujen kirjeiden
      jonosta viimeisin, joten muutokset editorin sisältöön eivät luonnollisesti vaikuta tässä vaiheessa.
 <li> Alussa on kirjeiden lista tyhjä. Muokkaa siis ensin kirjepohjaa ja lisää sitten tulostettavien kirjeiden määrää.</li>
 <li> Jos valitset tulostettavien määräksi nolla, tyhjenee valmiiksi alustettujen kirjeiden lista ja PDF-painike disabloituu. </li>
</ul>


<div ng-controller='KoekutsuController'>

 	<textarea ui-tinymce ng-model="tinymceModel"></textarea>
	

    <input class="generate" type="number" ng-model="count" ng-change="updateGenerated()" placeholder="Generoi"
           min="{{select_min}}" max="{{select_max}}" >

    <div class="run-action btn-group">
        <button class="btn" ng-click="generatePDF()" ng-disabled="getCount() < 1">PDF</button>
    </div>
    
    <h4>Alla on raakana HTML-koodina ylläolevan editorin sisältö</h4>
    <div>{{tinymceModel}}</div>
    
</div>