<div ng-controller="DraftCtrl">
    <button>Takaisin</button>
    <h2>Valitse viestin sisältö</h2>
    <p>Valitse viestin sisällöksi viestipohja, luonnos tai aikaisemmin lähetetty viesti. Valinta korvaa viestin nykyisen otsikon, sisällön ja liitetiedostot, mutta ei vaikuta lähettäjän nimeen tai vastaanottajiin.</p>
    <tabset>
        <tab heading="Viestipohjat"></tab>
        <tab heading="Lähetetyt"></tab>
        <tab heading="Luonnokset">
            <table class="table">
                <thead>
                    <tr><td>Otsikko</td><td>Liitetiedostot</td><td>Tallennettu</td></tr>
                </thead>
                <tbody>
                    <tr><td>Sinut on valittu opiskelijaksi</td><td>Lorem-ipsum.pdf(55kt)</td><td>13.6.2014 16:06</td></tr>
                    <tr>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis sem laoreet, facilisis mauris at, porta nulla. Duis scelerisque orci ut blandit mollis. Mauris ac odio porttitor mi luctus fermentum. Proin pharetra dolor id ante lobortis, vitae volutpat quam hendrerit. Morbi dui justo, pharetra commodo ante nec, adipiscing accumsan neque. Donec eget adipiscing enim, nec fermentum nunc. Aenean vitae condimentum erat. Sed pretium urna eget felis interdum, at tempor velit fermentum. Aenean quis gravida arcu, id feugiat tortor. Etiam scelerisque ultrices sapien eu bibendum. Suspendisse nec varius erat, eget accumsan dui. Proin pharetra rhoncus nunc, eu consequat tortor. Nam convallis nulla hendrerit leo bibendum, ac vehicula enim fermentum. Aenean blandit blandit libero. Sed blandit dui vehicula nisi pharetra, vel malesuada nulla elementum.</tr>
                </tbody>
            </table>
        </tab>
    </tabset>
    <div class="pagination">
        <ul><li>Edellinen</li><li>1</li><li>Seuraava</li></ul>
    </div>
</div>