<div ng-controller="EmailCancelCtrl">
    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <h2>{{'cancel.header.viesti' | i18n}}</h2>
            </div>
        </div>
        <div class="alert alert-block alert-info">
            <img ng-src="./assets/img/info-icon28x29.png" style="margin-right:10px;"></img>
            {{'cancel.message' | i18n}} {{callingProcess}}
        </div>
    </form>
</div>
