body {
	margin: 1em;
}

.tab-content {
    margin: 5px;
}

.labels input {
	margin-bottom: 0;
}

input.generate {
	margin: 5px;
	width: 4em;
}

.run-action {
	margin: 0 8px 10px 0;
	float: right;
}

td.inline-operation {
	text-align: right;
}

.inline-operation button {
	width: 60px;
}

.name {
	width: 10em;
}

.postal-code {
	width: 6em;
}

.street-address {
	width: 15em;
}