<div class="modal info-dialog">
    <div class="modal-header dialog-header-info">
        <h3>Luo uusi kirjepohja</h3>
    </div>
    <div class="modal-body">
        <div>
            <p class="bold">Luo kirjepohja haulle:</p>
            <select class="full-width" ng-model="$parent.applicationTarget" ng-options="t as t for t in applicationTargets" ng-change="selectTarget()"></select>
        </div>
        <div>
            <p class="bold">Käytä pohjana hakua:</p>
            <select class="full-width" ng-model="$parent.applicationTarget" ng-options="t as t for t in previousApplicationTargets" ng-change="selectTarget()"></select>
        </div>
        <p class="subnote">Valitse uuden kirjepohjan lähtökohdaksi jokin haku, oletuskirjepohja tai tyhjä dokumentti.</p>
        <input-list label="Luotava kirjepohjatyyppi:" items="applicationTypes" model="applicationTypeSelection" input="radio"></input-list>
        <input-list label="Luotava kieliversio:" items="languages" model="languageSelection" input="radio"></input-list>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn" ng-click="cancel()">Peruuta</button>
        <button type="button" class="btn btn-primary" ng-click="confirm()">Luo</button>
    </div>
</div>