<div ng-controller="EmailSendStatusController">

    <form novalidate="novalidate" class="form-horizontal">
    
		<div class="control-group">		
		    <label class="control-label"></label>
		    <div class="controls">
	            	<h2>Viesti</h2>
		    </div>		
		</div>
		
		<hr></hr>
		            
		<div class="control-group">	
		
		    <label class="control-label">
				<button ng-click="getStatus()" 	class="inline-operation btn btn-small">Käynnistä seuranta</button>
			</label>
		    
		    <div class="controls">
			    <span ng-show="!SendingStatusDTO.numberOfReciepients">
		    		Viestiä lähetetään.<br>
			    </span>
			    <span ng-show="SendingStatusDTO.numberOfReciepients">
		    		Viestiä lähetetään. Yhteensä {{SendingStatusDTO.numberOfReciepients}} viestiä. <br>
			    </span>		    
		    	Siirretty: {{SendingStatusDTO.numberOfSuccesfulSendings}} <br>
		    	Epäonnistuneet: {{SendingStatusDTO.numberOfFailedSendings}}
		    </div>		

		</div>

		<div class="control-group">		
		    <label class="control-label"></label>
			<div class="progress" ng-show="percentage">
				<div class="bar" style="width: {{percentage(SendingStatusDTO.numberOfSuccesfulSendings,
															SendingStatusDTO.numberOfFailedSendings,
															SendingStatusDTO.numberOfReciepients) }}%;"></div>
			</div>
		</div>

		<div class="control-group">		
		    <label class="control-label"></label>
		    <div class="controls pagination-centered"> 		    
					<!-- <button ng-click="getStatus()" 	class="inline-operation btn btn-small">Aloita päivitys</button>-->
					<button ng-click="statisticsEmail()" class="inline-operation btn btn-small">Siirry tilastoihin</button>
		    </div>		
		</div>
		    	 
		<hr></hr>
    </form>

</div>
