<div ng-controller="EmailResponseController">

    <form novalidate="novalidate" class="form-horizontal">
    
		<div class="control-group">		
		    <label class="control-label"></label>
		    <div class="controls">
	            	<h2>Viesti</h2>
		    </div>		
		</div>
		
		<hr></hr>
		            
		<div class="control-group">			    
			<div class="alert alert-block alert-info">		
	 			<table border="0">
					<tr>
				    	<td>Lähetysajankohta</td>
				    	<td>
							<span ng-show="!ReportedMessageDTO.endTime">
								{{ReportedMessageDTO.startTime | date:'yyyy-MM-dd HH:mm'}} - (Lähetys käynnissä, lopullinen tilasto nähtävissä Raportointisivuilla.)
							</span>							
							<span ng-show="ReportedMessageDTO.endTime">	 			
			    				{{ReportedMessageDTO.startTime | date:'yyyy-MM-dd HH:mm'}} - {{ReportedMessageDTO.endTime | date:'HH:mm'}}
							</span>
						</td>	
				  	</tr>											  	
				  			  
					<tr>
				    	<td>Viestejä yhteensä&nbsp;&nbsp;&nbsp;&nbsp;</td>
				    	<td>{{SendingStatusDTO.numberOfReciepients}}</td>
				  	</tr>
				  	<tr>
				    	<td>Siirretty</td>
				    	<td>{{SendingStatusDTO.numberOfSuccesfulSendings}}</td>
				  	</tr>
				  	<tr>
				    	<td>Epäonnistuneet</td>
				    	<td>{{SendingStatusDTO.numberOfFailedSendings}}</td>
				  	</tr>
				</table>		
			</div>
		</div>
		
		<div class="control-group">		
		    <label class="control-label">Prosessi</label>
		    <!--  <div class="controls">{{ReportedMessageDTO.callingProcess}}</div>		-->		    
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="ReportedMessageDTO.callingProcess"  disabled/>
		    </div>		
		</div>
    	 
		<div class="control-group">		
		    <label class="control-label">Lähettäjä</label>
		    <!-- <div class="controls">{{ReportedMessageDTO.senderEmail}}</div> -->		
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="ReportedMessageDTO.senderEmail"  disabled/>
		    </div>		
		</div>
    	 
		<div class="control-group">		
		    <label class="control-label">Vastausosoite</label>
		    <!--  <div class="controls">{{ReportedMessageDTO.replyToAddress}}</div>  -->		
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="ReportedMessageDTO.replyToAddress"  disabled/>
		    </div>		
		</div>
    	 
		<div class="control-group">		
		    <label class="control-label">Lähetystunnus</label>
		    <!-- <div class="controls">{{ReportedMessageDTO.messageID}}</div>  -->		
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="ReportedMessageDTO.messageID"  disabled/>
		    </div>		
		</div>
    	 
		<div class="control-group">		
		    <label class="control-label">Aihe</label>
		    <!-- <div class="controls">{{ReportedMessageDTO.subject}}</div>  -->		
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="ReportedMessageDTO.subject"  disabled/>
		    </div>		
		</div>
    	 
		<div class="control-group">		
		    <label class="control-label">Sisältö</label>
		    <!-- <div class="controls">{{ReportedMessageDTO.body}}</div>  -->		
		    <div class="controls">
 		    	<textarea rows="10" cols="120" ng-model="ReportedMessageDTO.body" disabled/>
		    </div>		
		</div>
    	 
		<div class="control-group">		
		    <label class="control-label">Liitetiedostot</label>
			<div class="controls" border="0" ng-repeat="att in ReportedMessageDTO.attachments">								    		 
 					{{att.name}}
			</div>	
		</div>
    	 		
		<div class="control-group" ng-hide="showTo">		
		    <label class="control-label">Vastaanottajat</label>
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="recipCnt"  disabled/>
		    </div>		
		</div>
            
		<div class="control-group" ng-hide="showCnt">		
		    <label class="control-label">Vastaanottajat</label>
		    <div class="controls">		    
		 		<div border="0" ng-repeat="recip in ReportedMessageDTO.emailRecipients">								    		 
	  					{{recip.email}}
				</div>	
		    </div>						        
		</div>
		
		<hr></hr>
    </form>

</div>

