<div ng-controller="EmailResponseController">

    <form novalidate="novalidate" class="form-horizontal">
    
		<div class="control-group">		
		    <label class="control-label"></label>
		    <div class="controls">
	            	<h2>Viesti</h2>
		    </div>		
		</div>
		
		<hr></hr>
		            
		<div class="control-group">			    
			<div class="alert alert-block alert-info">		
	 			<table border="0">
				  <tr>
				    <td>Viestejä yhteensä&nbsp;&nbsp;&nbsp;&nbsp;</td>
				    <td>{{SendingStatusDTO.numberOfReciepients}}</td>
				  </tr>
				  <tr>
				    <td>Siirretty</td>
				    <td>{{SendingStatusDTO.numberOfSuccesfulSendings}}</td>
				  </tr>
				  <tr>
				    <td>Epäonnistuneet</td>
				    <td>{{SendingStatusDTO.numberOfFailedSendings}}</td>
				  </tr>
				</table>		
			</div>
		</div>
		
		<div class="control-group">			    
			<div class="alert alert-block alert-info">		
	 			<table border="0">
				  <tr>
				    <td >Jos tälle sivulle on siirrytte automaattisesti, on tilasto lopullinen.<br>
				        Jos sivulle tultiin kesken viestin lähetyksen, on lopullinen tilasto nähtävissä Raportointisivuilla.
				    </td>
				  </tr>
				</table>		
			</div>
		</div>
		       
		<div class="control-group">		
		    <label class="control-label">Prosessi</label>
		    <!--  <div class="controls">{{ReportedMessageDTO.callingProcess}}</div>		-->		    
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="ReportedMessageDTO.callingProcess"  disabled/>
		    </div>		
		</div>
    	 
		<div class="control-group">		
		    <label class="control-label">Lähettäjä</label>
		    <!-- <div class="controls">{{ReportedMessageDTO.senderEmail}}</div> -->		
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="ReportedMessageDTO.senderEmail"  disabled/>
		    </div>		
		</div>
    	 
		<div class="control-group">		
		    <label class="control-label">Vastausosoite</label>
		    <!--  <div class="controls">{{ReportedMessageDTO.replyToAddress}}</div>  -->		
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="ReportedMessageDTO.replyToAddress"  disabled/>
		    </div>		
		</div>
    	 
		<div class="control-group">		
		    <label class="control-label">Lähetystunnus</label>
		    <!-- <div class="controls">{{ReportedMessageDTO.messageID}}</div>  -->		
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="ReportedMessageDTO.messageID"  disabled/>
		    </div>		
		</div>
    	 
		<!-- <div class="control-group">		
		    <label class="control-label">Lähetysajankohta</label>
		    <div class="controls">{{ReportedMessageDTO.startTime | date:'yyyy-MM-dd HH:mm'}} - {{ReportedMessageDTO.endTime | date:'HH:mm'}}</div>		
		</div> -->
    	 
		<div class="control-group">		
		    <label class="control-label">Aihe</label>
		    <!-- <div class="controls">{{ReportedMessageDTO.subject}}</div>  -->		
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="ReportedMessageDTO.subject"  disabled/>
		    </div>		
		</div>
    	 
		<div class="control-group">		
		    <label class="control-label">Sisältö</label>
		    <!-- <div class="controls">{{ReportedMessageDTO.body}}</div>  -->		
		    <div class="controls">
 		    	<!-- <input type="text" size="40" ng-model="ReportedMessageDTO.body"  disabled/>  -->
 		    	<textarea rows="10" cols="120" ng-model="ReportedMessageDTO.body" disabled/>
		    </div>		
		</div>
    	 
		<div class="control-group">		
		    <label class="control-label">Liitetiedostot</label>
			<div class="controls" border="0" ng-repeat="att in ReportedMessageDTO.attachments">								    		 
 					{{att.name}}
			</div>	
		</div>
    	 
		<!-- <div class="control-group">		
		    <label class="control-label">{{ReportedMessageDTO.emailRecipients.length}} vastaanottajaa</label>
				<div class="controls" border="0" ng-repeat="recip in ReportedMessageDTO.emailRecipients">								    		 
  					{{recip.email}}
				</div>	
		</div>-->
		
		<div class="control-group" ng-hide="showTo">		
		    <label class="control-label">Vastaanottajat</label>
		    <!-- <div class="controls">
            		{{ReportedMessageDTO.emailRecipients.length}} vastaanottajaa
		    </div> -->		
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="recipCnt"  disabled/>
		    </div>		
		</div>
            
		<div class="control-group" ng-hide="showCnt">		
		    <label class="control-label">Vastaanottajat</label>
		    <div class="controls">		    
		 		<div border="0" ng-repeat="recip in ReportedMessageDTO.emailRecipients">								    		 
	  					{{recip.email}}
				</div>	
		    </div>						        
		</div>
		
		
		
    	 
		<hr></hr>
    </form>

 <!-- 
    <form novalidate="novalidate" >
        <table border="0">
        	<tr>
	            <td>&nbsp;</td>
	            <td><h3>Viesti</h3></td>
	            <td>&nbsp;</td>
            </tr>
            
			<hr></hr>
            
            <tr>
	            <td>&nbsp;</td>
	            <td>Viesti lähetetty</td>
	            <td>&nbsp;</td>
            </tr><tr>
	            <td>Prosessi</td>
	            <td>{{RaportoitavaViestiDTO.prosessi}}</td>
	            <td>&nbsp;</td>
            </tr><tr>
	            <td>Lähettäjä</td>
	            <td>{{RaportoitavaViestiDTO.lahettajanSahkopostiosoite}}</td>
	            <td>&nbsp;</td>
            </tr><tr>
	            <td>Vastausosoite</td>
	            <td>{{RaportoitavaViestiDTO.vastauksenSaajanSahkopostiosoite}}</td>
	            <td>&nbsp;</td>
            </tr><tr>
	            <td>Lähetystunnus</td>
	            <td>{{RaportoitavaViestiDTO.lahetystunnus}}</td>
	            <td>&nbsp;</td>
            </tr><tr>
                <td>Lähetysajankohta&nbsp;&nbsp;&nbsp;</td>
	            <td>{{RaportoitavaViestiDTO.lahetysAlkoi | date:'yyyy-MM-dd HH:mm'}} - {{RaportoitavaViestiDTO.lahetysPaattyi | date:'HH:mm'}}</td>
	            <td>&nbsp;</td>
            </tr><tr>
	            <td>Aihe</td>
	            <td>{{RaportoitavaViestiDTO.aihe}}</td>
	            <td>&nbsp;</td>
            </tr><tr>
	            <td>Sisältö</td>
	            <td>{{RaportoitavaViestiDTO.viestinSisalto}}</td>
	            <td>&nbsp;</td>
            </tr><tr>
	            <td>Liitetiedostot</td>
	            <td>&nbsp;</td>
	            <td>&nbsp;</td>

            </tr><tr>
               	<td>{{RaportoitavaViestiDTO.vastaanottajat.length}} vastaanottajaa</td>
    			<td>
					<div border="0" ng-repeat="vast in RaportoitavaViestiDTO.vastaanottajat">								    		 
	  					{{vast.vastaanottajanSahkopostiosoite}}
					</div>	
				</td>
	            <td>&nbsp;</td>
			</tr>

		<hr></hr>

        </table>
    </form>	
     -->  
      
</div>

