<div ng-controller="EmailController">

    <form novalidate="novalidate" class="form-horizontal">
    
		<div class="control-group">		
		    <label class="control-label"></label>
		    <div class="controls">
	            	<h2>Viesti</h3>
		    </div>		
		</div>
		
		<hr></hr>
		            
		<div class="control-group" ng-hide="showTo">		
		    <label class="control-label">Vastaanottajat</label>
		    <div class="controls">
            		{{emaildata.recipient.length}} vastaanottajaa
		    </div>		
		</div>
            
		<div class="control-group" ng-hide="showCnt">		
		    <label class="control-label">Vastaanottajat</label>
		    <div class="controls">		    
		 		<div border="0" ng-repeat="header in emaildata.recipient">								    		 
	  					{{header.email}}
				</div>	
		    </div>						        
		</div>
    	            
		<div class="control-group">		
		    <label class="control-label">Lähettäjä</label>
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="emaildata.email.senderEmail"/>
		    </div>		
		</div>
		
		<div class="control-group">		
		    <label class="control-label">Otsikko</label>
		    <div class="controls">
 		    	<input type="text" size="40" ng-model="emaildata.email.subject"/>
		    </div>		
		</div>

		<div class="control-group">		
		    <label class="control-label">Viesti</label>
		    <div class="controls">
 		    	<textarea rows="10" cols="120" ng-model="emaildata.email.body"/>
		    </div>		
		</div>
    	
    	<div class="control-group">
			<label class="control-label">Liitteet</label>
		    <div class="controls">
				<span ng-show="!attfile.length">Ei liitteitä</span>
				<ul>
					<li ng-repeat="name in attfile">{{name.fileName}} </li>
				</ul>
			</div>
		</div>
		
		<div class="control-group">		
		    <label class="control-label"></label>
	<!--    <div class="controls pagination-right">   -->
		    <div class="controls pagination-centered"> 
					<button ng-click="cancelEmail()" 	class="inline-operation btn btn-small">Peruuta</button>
					<button ng-click="sendGroupEmail()" class="inline-operation btn btn-small">Lähetä</button>
		    </div>		
		</div>
				
    	<hr></hr>
    	
    	<div class="control-group">	
			<label class="control-label">Liitteiden lataus</label>    			

		    <div class="controls">
				<span ng-show="!files.length">Ei ladattavia liitteitä</span>
				<ul>
					<li ng-repeat="file in files">{{file}}</li>
				</ul>

				<div>
				<!-- <span class="btn btn-success fileinput-button">  -->
				<span>				 
					<!-- <i class="icon-plus icon-white"></i> -->
						<input  type="file" name="file"
								class="input-medium" 
							   	value="Valitse tiedosto(t)" 
						       	data-url="/ryhmasahkoposti-service/email/addAttachment" 
						       	multiple upload>
					<!-- <span>Add files...</span> -->
				</span>
				</div>
				<br>
				<div class="progress" ng-show="percentage">
				    <div class="bar" style="width: {{percentage}}%;"></div>
				</div>
				<span>
					<!-- <button type="submit" class="btn btn-primary pull-left" ng-click="upload()">Liitä liite viestiin</button>  -->
					<button type="submit" class="inline-operation btn btn-small" ng-click="upload()">Liitä liite viestiin</button>
				</span>

			</div>
				
		</div>
    
    	<!--	
		<div class="control-group">		
		    <label class="control-label"></label>
		    <div class="controls pagination-centered"> 
					<button ng-click="cancelEmail()" 	class="inline-operation btn btn-small">Peruuta</button>
					<button ng-click="sendGroupEmail()" class="inline-operation btn btn-small">Lähetä</button>
		    </div>		
		</div>   -->
    	 
		<hr></hr>
    
    </form>
</div>
