@page {
  size: 210mm 297mm;
  margin: 16mm 10mm 10mm 12mm;
  @bottom-center {
    vertical-align: top;
    content: element(footer);
  }
}
@font-face {
  font-family: OpenSans;
  font-size: 10px;
  src: url(classpath:/fonts/Open_Sans/OpenSans-Regular.ttf);
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: ISO-8859-15;
}
@font-face {
  font-family: OpenSans-Semibold;
  font-size: 10px;
  src: url(classpath:/fonts/Open_Sans/OpenSans-Semibold.ttf);
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: ISO-8859-15;
}
@font-face {
  font-family: OpenSans-Bold;
  font-size: 10px;
  src: url(classpath:/fonts/Open_Sans/OpenSans-Bold.ttf);
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: ISO-8859-15;
}
@font-face {
  font-family: OpenSans-Italic;
  font-size: 10px;
  src: url(classpath:/fonts/Open_Sans/OpenSans-Italic.ttf);
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: ISO-8859-15;
}
@font-face {
  font-family: OpenSans-BoldItalic;
  font-size: 10px;
  src: url(classpath:/fonts/Open_Sans/OpenSans-BoldItalic.ttf);
  -fs-pdf-font-embed: embed;
  -fs-pdf-font-encoding: ISO-8859-15;
}
body {
  color: #2C3A40;
  font-size: 10px;
  font-family: OpenSans;
  margin: 0;
}
b {
  color: #2C3A40;
  font-size: 10px;
  font-family: OpenSans-Semibold;
  font-weight: normal;
}
a {
  color: #2C3A40;
}
h2 {
  color: #2C3A40;
  font-size: 11px;
  font-family: OpenSans-Semibold;
  font-weight: normal;
  margin-bottom: -3.2mm;
  padding-bottom: 0;
}
blockquote {
  background-color: #ebebeb;
  margin-top: 3mm;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 1mm;
  padding-left: 1mm;
}
.header {
  margin: 4mm 0 0 11mm;
  height: 80mm;
  width: 200mm;
  float: left;
}
.row {
  display: table-row;
}
.organisaatio {
  display: table-cell;
  width: 100mm;
  height: 26mm;
  font-family: OpenSans-Semibold;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.letterdate {
  display: table-cell;
  width: 10mm;
  height: 26mm;
  font-family: OpenSans-Semibold;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.osoitetarra {
  display: table-cell;
  width: 70mm;
  height: 37mm;
  font-family: OpenSans-Semibold;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.syntymaaika {
  display: table-cell;
  width: 10mm;
  height: 37mm;
  font-family: OpenSans-Semibold;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.lahetysMerkinta {
  font-size: 90%;
}
.pull-left {
  float: left;
  text-align: left;
}
.pull-right {
  float: right;
  text-align: left;
}
.signature {
  font-size: 8px;
  margin-left: 8.7cm;
}
.date {
  margin-right: 2cm;
  font-size: 12px;
}
p {
  padding-bottom: 0;
  margin-bottom: 0;
}
.hakijapalveluidenosoite {
  width: 8cm;
  padding-left: 2cm;
}
.hakijapalveluidenosoite::before {
  content: "Käyntiosoite:";
  position: absolute;
  margin-left: 0.2cm;
}
p.selection {
  padding-left: 0.5cm;
}
p.selection::before {
  content: "";
  border: 0.25mm solid #2C3A40;
  width: 0.25cm;
  height: 0.25cm;
  margin-top: 0.8mm;
  margin-left: 2mm;
  position: absolute;
}
.clear {
  clear: both;
}
.sisalto {
  clear: both;
  line-height: 140%;
}
table {
  border-collapse: collapse;
}
th {
  border-bottom: 0.3mm solid #2C3A40;
}
tfoot tr td {
  border-bottom: 0.3mm solid #2C3A40;
}
.liitteet {
  margin-left: 0.2cm;
  margin-right: 0.2cm;
}
.cuthere {
  margin-top: 0.4cm;
  margin-bottom: 0.4cm;
  border-bottom: 0.3mm dashed #2C3A40;
}
td, th {
  padding: 5px;
  font-family: OpenSans;
  font-weight: normal;
  color: #2C3A40;
  vertical-align: top;
}
td.numeerinen {
  text-align: center;
}
.hylkayssyy, em {
  font-family: OpenSans-Italic;
}
.peruuntumisensyy, em {
  font-family: OpenSans-Italic;
}
.ehdollinensyy, em {
  font-family: OpenSans-Italic;
}
.hyvaksytty .hylkayssyy .peruuntumisensyy .ehdollinensyy {
  font-family: OpenSans-BoldItalic;
}
.hyvaksytty>td {
  font-family: OpenSans-Bold;
}
tr.even {
  background: #ebebeb;
}
tbody tr, tbody td {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
ol, ul {
  padding-top: 0;
  margin-top: 0;
  font-weight: 100;
  padding-left: 4mm;
  margin-left: 2em;
}
ul.dash {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
}
ul.dash li:before {
  display: inline-block;
  content: "-";
  width: 1em;
  margin-left: -1em;
}
.footer {
  font-size: 90%;
  position: running(footer);
  margin-top: -1cm;
}
