html {
  color: #2C3A40;
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  max-width: 60em;
  padding: 1em 3em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

dt, dd {
  margin-bottom: 0.2em;
}

dt {
  font-weight: 600;
}

blockquote {
  background-color: #ebebeb;
  margin: 0;
  padding: 0.5em 1em;
}

table {
  border-collapse: collapse;
}

th {
  border-bottom: 0.1em solid #2C3A40;
}

tfoot tr td {
  border-bottom: 0.1em solid #2C3A40;
}

td, th {
  font-weight: 400;
  text-align: left;
  vertical-align: top;
  padding: 0.5em;
}

tr.even {
  background: #ebebeb;
}

tbody tr, tbody td {
  margin: 0;
  padding: 0.5em 0.4em;
}

ul {
  font-weight: 300;
  margin-top: 0;
  padding: 0 0.5em;
}

.bold {
  font-weight: 600;
}

@media only print {
  html {
    font-size: 14px;
  }

  article:not(:last-of-type) {
    page-break-after: always;
  }
}

.opiskelupaikan-vastaanottoilmoitus-kaavake {
  list-style-type: none
}

.opiskelupaikan-vastaanottoilmoitus-kaavake__vaihtoehto::before {
  content: "\2610";
}

.hylkayssyy, em {
  font-style: italic;
}

.peruuntumisensyy, em {
  font-style: italic;
}

.hyvaksytty > td {
  font-weight: 600;
}