<div id="KoodistoMultiSelect" >
<div class="span5">
<select class="span5" id="KoodiSelect" ng-model="koodiuri" size="10" ng-click="onKoodistoComboChange()" ng-options="koodi.koodiUri as koodi.koodiNimi for koodi in koodis | orderBy:'koodiNimi'">


</select>
</div>

<div class="span4" id="KoodistoMultiSelectedValues" ng-repeat="koodi in selectedkoodiuris">
    <span id="SelectedKoodiValue"> {{koodi.koodiNimi}} </span>

    <a ng-click="removeSelection(koodi)" class="btn btn-link"><i class="icon-remove-sign"></i></a>
</div>

</div>