<div ng-cloak ng-switch="display" class="multiselect">
	
	<!-- dualpane -->
	<div class="dualpane" ng-switch-when="dualpane">	
		<select  bindonce multiple="multiple"
				ng-model="preselection"
				ng-options="e.key as e.value for e in items"
				ng-change="onPreselection(preselection)">
	    </select>
	    <ul class="selection">
	    	<li ng-repeat="k in selection">
	 			<a href ng-click="toggle(k)">[x]</a> {{names[k]}}
	    	</li>    
	    </ul>
	</div>
	
	<!-- combobox -->
	<div class="combobox" ng-switch-when="combobox">
	    <div>
	        <input type="text"
	                class="typeahead"
	                ng-model="combo.selection"
	                typeahead="value for value in titles | startsWith:$viewValue | limitTo:10"
	                typeahead-on-select="onComboSelect()"
	                typeahead-editable="false"
	                typeahead-wait-ms="50"/>
	        
	        <a href ng-click="onShowAll()">{{txtShowAll}}</a>
	    </div>
        
        <ul class="selection">
           <li ng-repeat="k in selection">
               <a href ng-click="toggle(k)">[x]</a> {{names[k]}}
           </li>    
       </ul>
	</div>
	
	<!-- checklist -->
	<table class="checklist" ng-switch-default>
		<tr bindonce ng-repeat="r in rows">
			<td bindonce ng-repeat="e in r">
				<input type="checkbox" ng-model="e.selected" ng-change="toggle(e.key)" /> <span bo-text="e.value"/>
			</td>
		</tr>
	</table>
</div>
