<!DOCTYPE html>
<html ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>OPH - Viestintäpalvelu</title>

<script src="lib/jquery/2.0.0/jquery.min.js"></script>
<script src="lib/tinymce/tinymce.min.js"></script>
<script src="lib/angularjs/angular.js"></script>
<script src="lib/angularjs/angular-resource.js"></script>
<script src="lib/angularjs/angular-sanitize.js"></script>
<script src="lib/lodash/1.2.1/lodash.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script src="lib/tinymce/ui-angular-tinymce.js"></script>

<script src="js/shared/config.js"></script>
<script src="js/shared/koodisto.js"></script>
<script src="js/shared/localisation.js"></script>
<script src="js/shared/auth.js"></script>

<script src="js/shared/directives/bindonce.js"></script>
<script src="js/shared/directives/richTextarea.js"></script>

<script src="js/main.js"></script>
<script src="js/palvelut.js"></script>
<script src="js/addresslabels.js"></script>
<script src="js/jalkiohjauskirje.js"></script>
<script src="js/hyvaksymiskirje.js"></script>
<script src="js/koekutsukirje.js"></script>
<script src="js/letter.js"></script>


<link href="css/twitter-bootstrap/2.3.1/bootstrap-combined.min.css"	rel="stylesheet">
<link href="css/viestintapalvelu.css" rel="stylesheet" >
<link href="css/richTextarea.css" rel="stylesheet"/>

</head>
<body ng-controller="TabsController">
	<div hdiv style="width:400px;height:20px;border:1px solid blue;margin:1cm 1cm 1cm 1cm">
	<center><a href="swagger/index.html">API-dokumentaatio</a> on toteutettu Swaggerilla.</center>
	</div> 
	<div class="navbar"
		ng-init="showContent('osoitetarrat')">
		<div class="navbar-inner">
			<a class="brand" href="#">OPH</a>
			<ul class="nav">
				<li class="active">
					<a href="#osoitetarrat" ng-click="showContent('osoitetarrat')" data-toggle="tab">Osoitetarrat</a></li>
				<li>
					<a href="#jalkiohjauskirje" ng-click="showContent('jalkiohjauskirje')" data-toggle="tab">Jälkiohjauskirje</a></li>
				<li>
					<a href="#hyvaksymiskirje" ng-click="showContent('hyvaksymiskirje')"  data-toggle="tab">Hyväksymiskirje</a></li>
				<li>
					<a href="#koekutsukirje" ng-click="showContent('koekutsukirje')"         data-toggle="tab">Koekutsukirje</a></li>
				<li >
					<a href="#letter" ng-click="showContent('letter')" data-toggle="tab">Letter</a></li>
			</ul>
		</div>
		<div class="tab-content">
			<div class="tab-pane " id="osoitetarrat"></div>
			<div class="tab-pane" id="jalkiohjauskirje"></div>
			<div class="tab-pane" id="hyvaksymiskirje"></div>
			<div class="tab-pane" id="koekutsukirje"></div>
			<div class="tab-pane" id="letter"></div>
			
		</div>
	</div>
</body>
</html>
