<div class="panel panel-primary">
	<div class="panel-heading">
		<h1>{{'common.scheduleservice.header' | i18n}}</h1>
	</div>
	<div class="panel-body">
		<div>
			<select ng-model="selectedHaku" ng-options="hakuByName(haku) for haku in hakus" required="required">
			</select>
		</div>
		<div>
			<select ng-model="selectedTask" ng-options="task.name for task in tasks" required="required">
			</select>
		</div>
		<div>
			<p class="input-group">
				<input type="text" class="form-control"
					datepicker-popup="dd-MM-yyyy" ng-model="selectedDate"
					is-open="opened" min-date="minDate" ng-required="true"
					show-weeks="true" /> <span class="input-group-btn">
					<button type="button" class="btn btn-default"
						ng-click="openCalendar($event)">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
				</span>
			</p>
		</div>
		<div>
			<timepicker ng-model="selectedTime" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
		</div>
		
		<button ng-click="create()" class="btn btn-lg btn-primary">Create</button>
	</div>
</div>