<div>
	<p>{{task}}</p>
	<div>
		<select ng-model="selectedHaku" ng-options="hakuByName(haku) for haku in hakus" required="required">
			<option value=""></option>
		</select>
	</div>
	<div>
		<select ng-model="selectedTask" ng-options="task.name for task in tasks" required="required">
			<option value=""></option>
		</select>
	</div>
	<button ng-click="save()" class="btn btn-lg btn-primary">{{'common.save' | i18n}}</button>
	<button ng-click="remove()" class="btn btn-lg btn-danger">{{'common.delete' | i18n}}</button>
</div>