# Loggers
log4j.logger.fi.vm.sade.viestintapalvelu={{env_loglevel}}, viestintapalvelu
log4j.logger.fi.vm.sade.ryhmasahkoposti={{env_loglevel}}, ryhmasahkoposti
log4j.logger.fi.vm.sade.viestintapalvelu.auditlog.AuditLogger=INFO, viestintapalveluaudit
log4j.logger.fi.vm.sade.ryhmasahkoposti.auditlog.AuditLogger=INFO, ryhmasahkopostiaudit
{# raw-endraw -välillä template engine ei tee mitään! #}
{% raw %}
# Console output
log4j.appender.STDOUT=org.apache.log4j.ConsoleAppender
log4j.appender.STDOUT.Threshold=ERROR
log4j.appender.STDOUT.layout=org.apache.log4j.PatternLayout
log4j.appender.STDOUT.layout.ConversionPattern=%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5p {%X{user}} [%t] %-5p %c: %m%n
# File output for viestintapalvelu
log4j.appender.viestintapalvelu.Threshold=INFO
log4j.appender.viestintapalvelu.File=${user.home}/tomcat/logs/oph-viestintapalvelu.log
log4j.appender.viestintapalvelu=org.apache.log4j.RollingFileAppender
log4j.appender.viestintapalvelu.Append=true
log4j.appender.viestintapalvelu.layout=org.apache.log4j.PatternLayout
log4j.appender.viestintapalvelu.layout.ConversionPattern=%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5p {%X{user}} [%t] %-5p %c: %m%n
log4j.appender.viestintapalvelu.MaxFileSize=10MB
log4j.appender.viestintapalvelu.MaxBackupIndex=20
# File output for ryhmasahkoposti
log4j.appender.ryhmasahkoposti.Threshold=INFO
log4j.appender.ryhmasahkoposti.File=${user.home}/tomcat/logs/oph-ryhmasahkoposti.log
log4j.appender.ryhmasahkoposti=org.apache.log4j.RollingFileAppender
log4j.appender.ryhmasahkoposti.Append=true
log4j.appender.ryhmasahkoposti.layout=org.apache.log4j.PatternLayout
log4j.appender.ryhmasahkoposti.layout.ConversionPattern=%d{yyyy-MM-dd'T'HH:mm:ss.SSSX} %-5p {%X{user}} [%t] %-5p %c: %m%n
log4j.appender.ryhmasahkoposti.MaxFileSize=10MB
log4j.appender.ryhmasahkoposti.MaxBackupIndex=20
# Audit log for viestintapalvelu
log4j.additivity.fi.vm.sade.viestintapalvelu.auditlog.AuditLogger=false
log4j.appender.viestintapalveluaudit=org.apache.log4j.RollingFileAppender
log4j.appender.viestintapalveluaudit.File=${user.home}/logs/auditlog_viestintapalvelu-service.log
log4j.appender.viestintapalveluaudit.Append=true
log4j.appender.viestintapalveluaudit.MaxFileSize=20MB
log4j.appender.viestintapalveluaudit.MaxBackupIndex=20
log4j.appender.viestintapalveluaudit.layout=org.apache.log4j.PatternLayout
log4j.appender.viestintapalveluaudit.layout.ConversionPattern=%m%n
log4j.appender.viestintapalveluaudit.encoding=UTF-8
# Audit log for ryhmasahkoposti
log4j.additivity.fi.vm.sade.ryhmasahkoposti.auditlog.AuditLogger=false
log4j.appender.ryhmasahkopostiaudit=org.apache.log4j.RollingFileAppender
log4j.appender.ryhmasahkopostiaudit.File=${user.home}/logs/auditlog_ryhmasahkoposti-service.log
log4j.appender.ryhmasahkopostiaudit.Append=true
log4j.appender.ryhmasahkopostiaudit.MaxFileSize=20MB
log4j.appender.ryhmasahkopostiaudit.MaxBackupIndex=20
log4j.appender.ryhmasahkopostiaudit.layout=org.apache.log4j.PatternLayout
log4j.appender.ryhmasahkopostiaudit.layout.ConversionPattern=%m%n
log4j.appender.ryhmasahkopostiaudit.encoding=UTF-8

{% endraw %}
# By default hide these spammers by default
log4j.logger.org.apache.cxf=ERROR
log4j.logger.org.springframework=ERROR
log4j.logger.org.vaadin=ERROR
log4j.logger.javax.sql=ERROR
log4j.logger.org.apache.activemq=ERROR
# cas session + singlelogout tracing
log4j.logger.org.jasig.cas.client.session=INFO
