<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <link rel="stylesheet" type="text/css" href="classpath:/template_styles/ipost_pdf.css"/>
    <title>Jälkiohjauskirje</title>
</head>
<body>

<div class='header'>
    <div class="organisaatio"></div>

    <div class='osoitetarra'>
        <div>$osoite</div>
    </div>
</div>

<div class="asiakirjanTyyppi jalkiohjauskirjeTyyppi">
    TIEDOTE ammatillisen koulutuksen ja
    yhteishaun tuloksista
</div>

<div class="asiaotsikko"><b>HYVÄ HAKIJA</b></div>

<div class="sisalto">
    <p>
        Osallistuit syksyn 2013 ammatillisen koulutuksen yhteishakuun. Toistaiseksi sinua ei ole valittu
        niihin koulutuksiin, joihin hait. Jos olet varasijalla, voit tulla hyväksytyksi vapautuvalle opiskelupaikalle.
        Tämän kirjeen kääntöpuolella on tietoa hakutoiveidesi tilanteesta opiskelijavalinnassa.
    </p>

    <p>
        Opiskelijaksi ottamisessa noudatetaan opetus- ja kulttuuriministeriön antamia asetuksia opiskelijaksi
        ottamisen perusteista. Tietoa perusteista ja pisteytettävistä tekijöistä löytyy Opintopolusta
        (opintopolku.fi/valintaperusteet). Jos opiskelijavalintaa ei mielestäsi ole tehty opiskelijaksi ottamisen
        perusteiden mukaisesti, ota ensin yhteys oppilaitokseen, johon hait.
    </p>

    <p>
        Voit valittaa opiskelijavalintaa koskevasta päätöksestä siihen aluehallintovirastoon, jonka alueella
        oppilaitos sijaitsee. Pyydä valituskelpoinen päätös oppilaitoksen rehtorilta ja liitä se valitukseesi.
        Mikäli et jostain syystä saa päätöstä oppilaitoksesta, ole yhteydessä aluehallintovirastoon tai Opintopolun
        hakuneuvontaan. Valitus on tehtävä viimeistään 14 päivän kuluessa siitä, kun olet saanut kirjallisen päätöksen
        oppilaitoksesta. Aluehallintovirastojen osoitteet löydät tämän kirjeen lopusta.
    </p>

    <p>Jos et saanut opiskelupaikkaa?</p>

    <p>
        Opintopolusta (opintopolku.fi/mitenhaen) löydät tietoa eri vaihtoehdoista. Opintopolusta löydät koulutukset,
        joihin on vielä vapaita paikkoja. Etsi hakukoneella koulutuksia, jotka kiinnostavat sinua.
    </p>

    <p>
        Vapaita paikkoja voi kysellä myös oppilaitoksista vielä lukukauden alkupuolella.
    </p>

    <p>
        Työ- ja elinkeinotoimiston koulutus- ja ammattitietopalvelusta saat koulutusneuvontaa, ja apua ammatinvalintaan
        tarjoavat ammatinvalinta- ja urasuunnittelupalvelut. Osoitteesta www.te-palvelut.fi löydät tietoa kaikista työ-
        ja
        elinkeinotoimiston tarjoamista palveluista.
    </p>

</div>

</body>
</html>
