<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <style type="text/css">$tyylit</style>
    <title>Selection results</title>
</head>
<body>
<div class='header'>
    <div class="organisaatio"></div>
    <div class='osoitetarra'>
        <div>$osoite</div>
    </div>
</div>

<div class="asiakirjanTyyppi">
    $letterDate
</div>

<div class="asiaotsikko">NOTIFICATION OF THE STUDENT SELECTION RESULTS IN JOINT APPLICATION TO HIGHER EDUCATION IN
    AUTUMN 2014<br/><br/></div>

<div class="sisalto">
    $sisalto
    <!--
    <p>
        DEAR APPLICANT,
    </p>

    <p>
        You participated in joint application to higher education in autumn 2014. For the present, you have not been
        accepted to the study programmes you applied to. If you are on a waiting list, you can be accepted to a free
        study place. Free study places are fulfilled according to the waiting list order. If you get accepted to a study
        programme from a waiting list, your other study options will be cancelled automatically and you cannot be
        accepted to those anymore. On the other side of this letter there is information of your study options'
        situation.
    </p>

    <p>
        The student selection follows the admission criteria of each university and polytehnic / UAS. You can get more
        information of the admission criteria and the student selection result in university or polytechnic /UAS in
        question.
    </p>

    <p><b>The right to claim alterations</b></p>

    <p>
        If you are unsatisfied with the result of the student selection and the student selection has been incorrect
        according to the admission criteria, contact the admission office of the higher education institution in
        question. If the matter is not sorted out this way, you can do a written request for rectification of the
        student selection result. The request for rectification must include the decision to which you are appealing
        alterations, what things in the result should be altered and what is the basis of claiming this alteration. In
        addition, personal details and contact information must be included in the request for rectification. You must
        also attach the result, to which you are claiming the alteration, to the request for rectification and the
        possible documents that support the basis. The higher education institutions do not process a request for
        rectification of an applicant who has been accepted in joint application, if the request for rectification
        concerns a study option lower on the order of preference.
    </p>

    <p>
        A request for rectification concerning a study programme of a polytechnic / univeristy of applied sciences must
        be addressed to the board of the polytechnic / UAS. The request must be submitted to the polytehnic / UAS within
        14 days after receiving this notification.
    </p>

    <p>
        A request for rectification concerning a study programme of a university must be addressed to the university or
        an organ of the university which is said on the admission criteria. The request must be submitted to the
        university within 14 after the publication of the student selection results.
    </p>
    -->
</div>

</body>
</html>