<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Content-Style-Type" content="text/css"/>
	<style type="text/css">$tyylit</style>
	<title>Hyväksymiskirje</title>
</head>
<body>
<div class='header'>
	<div class="organisaatio"></div>
	<div class='osoitetarra'>
		<div>$osoite</div>
	</div>
</div>

<div class="asiakirjanTyyppi">
	$letterDate
</div>

<div class="asiaotsikko">ILMOITUS PÄÄTÖKSESTÄ OPISKELIJAVALINNAN TULOKSESTA KORKEAKOULUJEN YHTEISHAUSSA SYKSYLLÄ 2014<br/><br/><b>$koulu<br/>$koulutus</b>
</div>

<div class="sisalto">
	$sisalto
	<p><b>Muutoksenhakuoikeus</b></p>

	<p>
		Mikäli olet tyytymätön opiskelijavalinnan tulokseen ja valintaperusteiden soveltamisessa on mielestäsi
		tapahtunut virhe, tutustu ensiksi kyseisen hakukohteen valintaperusteisiin sekä oikaisumenettelyä koskevaan
		ohjeeseen. Ota tämän jälkeen tarvittaessa yhteyttä siihen ammattikorkeakouluun tai yliopistoon, jonka
		hakukohdetta tyytymättömyytesi koskee. Mikäli asia ei tällöin selviä, voit tehdä kirjallisen oikaisupyynnön
		opiskelijavalintaa koskevasta päätöksestä. Oikaisupyynnöstä tulee käydä ilmi yksilöidysti mihin haet oikaisua,
		miten päätöstä tulisi mielestäsi oikaista ja millä perustein haet tätä muutosta. Lisäksi oikaisupyynnöstä on
		käytävä ilmi oikaisun hakijan henkilö- ja yhteystiedot. Oikaisupyynnön oheen liitetään tarvittavat pyyntöä
		tukevat asiakirjat. Ammattikorkeakoulut ja yliopistot eivät käsittele yhteishaussa hyväksytyksi tulleen hakijan
		oikaisupyyntöä, jos se koskee hakutoivejärjestyksessä alemmaksi asetettua hakukohdetta.
	</p>

	<p>
		Ammattikorkeakoulun hakukohdetta koskeva oikaisupyyntö tulee osoittaa ko. ammattikorkeakoulun hallitukselle ja
		jättää ammattikorkeakouluun 14 vuorokauden kuluessa tämän ilmoituksen tiedoksisaannista.
	</p>

	<p>
		Yliopiston hakukohdetta koskeva oikaisupyyntö tulee osoittaa yliopistolle tai sen valintaperusteissaan
		määrittelemälle yliopiston toimielimelle ja jättää yliopistoon 14 vuorokauden kuluessa opiskelijavalinnan
		tuloksen julkistamisesta.
	</p>

	<p><b>Tervetuloa opiskelemaan!</b></p>

	<p>$hakijapalveluidenYhteystiedot</p>

</div>

</body>
</html>