<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Content-Style-Type" content="text/css"/>
	<style type="text/css">$tyylit</style>
	<title>Accepting a study place</title>
</head>
<body>
<div class="liiteSisalto">
	<p>$addressLabel.firstName $addressLabel.lastName</p>
	<p>$koulu</p>
	<p>$koulutus</p>
	<br/>

	<p>ACCEPTING A STUDY PLACE IN JOINT APPLICATION TO HIGHER EDUCATION IN AUTUMN 2014</p>
	<br/>

	<p>
		You have been accepted in joint application to higher education in autumn 2014. To confirm your study place, you
		have to inform that you accept it. If you do not inform the acceptance by the deadline given in this letter, you
		will lose the offered study place.
	</p>

	<p>
		You can accept the study place electronically on your own pages on Studyinfo.fi-service. The electronical
		acceptance of the study place requires registry to the service and strong authentication by using online bank
		service code or mobile authentication. If you cannot do the acceptance of the study place electronically, you
		can do it with returning the attached acceptance notification to the address given in it by deadline. In
		addition you need to enrol to your higher education institution as attending or not-attending student.
	</p>

	<p><b>ACCEPTANCE NOTIFICATION TO STUDY PROGRAMME IN SPRING 2015</b></p>

	<p>$addressLabel.firstName $addressLabel.lastName</p>
	<p>$henkilotunnus</p>
	<p>$koulu</p>
	<p>$koulutus</p>
	<br/>

	<p><b>I inform this as a binding choice (X):</b></p>

	<p>
		<b>_</b>&amp;I accept the study place mentioned above. I have not accepted any other higher education study place in
		joint application in autumn 2014. After doing this notification I cannot be accepted to another higher education
		study place in joint application in autumn 2014.

	</p>

	<p><b>_</b>&amp;I do not accept the study place mentioned above.</p>
	<br/>

	<p>Signature and date:</p>
	<br/>

	<p><b><i>Return to the address $hakijapalveluidenOsoite at the latest on 9 December 2014.</i></b></p>
</div>

</body>
</html>