<!DOCTYPE html>
<html>
<head lang="fi">
    <meta charset="utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <style type="text/css">$tyylit</style>
    <title>Taulukkoliite</title>
</head>
<body>
<div class="liiteSisalto">
    <p><b>$addressLabel.firstName $addressLabel.lastName</b></p>

    <p><b>TILANTEESI SYKSYN 2014 KORKEAKOULUJEN YHTEISHAUSSA</b></p>

    <table>
        <thead>
            <tr>
                <th class="hakutoive">Hakutoiveesi ja prioriteetti</th>
                <th>Hyväksytyt / kaikki hakeneet</th>
                #if($columns.valinnanTulos)
                <th>Valinnan tulos</th>
                #end
                #if($columns.hylkaysperuste)
                <th>Hylkäysperuste</th>
                #end
                <th>Sijoituksesi valintatavoittain / hyväksytyt valintatavoittain</th>
                <th>Pistemääräsi / alin hyväksytty pistemäärä valintatavoittain</th>
            </tr>
        </thead>
        <tbody>
        #foreach( $haku in $tulokset )
        <tr>
            <td class="hakutoive">$foreach.count. $haku.organisaationNimi, $haku.oppilaitoksenNimi<br/>$haku.hakukohteenNimi
            </td>
            <td>$haku.hyvaksytyt / $haku.hakeneet</td>
            #if($columns.valinnanTulos)
            <td>$haku.valinnanTulos</td>
            #end
            #if($columns.hylkaysperuste)
            <td>$haku.hylkaysperuste</td>
            #end
            <td>$haku.sijoitus / $haku.hyvaksytyt</td>
            <td>$haku.omatPisteet / $haku.alinHyvaksytty</td>
        </tr>
        #end
        </tbody>
    </table>

    <p><b>Näin luet taulukkoa:</b></p>

    <br/>

    <p>
        <b>Hakutoiveesi:</b> Kaikki hakutoiveesi hakemukseen merkitsemässäsi järjestyksessä.
    </p>

    <p>
        <b>Hyväksytyt ja hakeneet:</b> Kyseiseen koulutukseen hyväksyttyjen määrä suhteessa kaikkien hakijoiden määrään.
    </p>

    <p>
        <b>Valinnan tulos:</b> Valinnan tulos voi olla hyväksytty, varasijalla, hylätty tai peruuntunut. Valinnan tulos on peruuntunut, jos sinut on hyväksytty johonkin ylempään hakutoiveeseesi. Valinnan tulos on peruuntunut myös, jos hakukohteen kaikki aloituspaikat ovat täyttyneet, etkä ole tullut hyväksytyksi kyseiseen hakukohteeseen. Mikäli olet tullut hyväksytyksi koulutukseen, näet sarakkeessa myös minkä valintatavan mukaan olet tullut hyväksytyksi.
    </p>

    <p>
        <b>Hylkäysperuste:</b> Jos valintatietonasi on hylätty, et voi tulla hyväksytyksi koulutukseen. Tässä sarakkeessa näet hylkäysperusteeksi ilmoitetun syyn. Lisätietoa hylkäysperusteesta saat ko. yliopistosta tai ammattikorkeakoulusta.
    </p>

    <p>
        <b>Sijoituksesi valintatavoittain / hyväksytyt valintatavoittain:</b> Jos valintatietonasi on varasijalla tai peruuntunut, näet tässä sarakkeessa sijoituksesi kunkin hakukohteessa käytettävän valintatavan mukaisesti sekä kyseisellä valintatavalla hyväksyttävien määrän. Jos valinnan tuloksesi on hyväksytty, hylätty tai peruuntunut, et voi olla varasijalla ja sarake on tyhjä. Valintatavat vastaavat korkeakoulun valintaperusteissaan ilmoittamia valintatapoja ja löydät niistä tarkempaa tietoa hakukohteen valintaperusteista.
    </p>

    <p>
        <b>Pistemääräsi ja alin hyväksytty pistemäärä valintatavoittain:</b> Jos valintatietosi on varasijalla tai peruuntunut, näet tässä sarakkeessa oman pistemääräsi kullakin hakukohteen valintatavoista sekä alimman kyseisen valintatavan mukaan hyväksytyn pistemäärän. Pistemäärä koostuu useasta eri osasta. Mahdollinen maksimipistemäärä voi vaihdella eri hakukohteiden välillä sekä hakukohteen eri valintatapojen välillä. Tietoa pisteitettävistä tekijöistä löydät hakukohteen valintaperusteista. Alin hyväksytty pistemäärä on alin pistemäärä, jolla koulutukseen on hyväksytty. Pistemäärä ei aina yksin vaikuta valinnan tulokseen, sillä esimerkiksi hylätty kielikoetulos tai yksittäisestä valintakokeen osasta saatu hylkäävä tulos voi estää valinnan kokonaispistemäärästä riippumatta. Näet pistemäärän vain jos sinulle on voitu laskea pisteet kyseisen valintatavan mukaisesti. Mikäli valintatavassa ei lasketa pisteitä tai sinulle ei voida niitä laskea, on sarake tyhjä.
    </p>

    <p>
        <b>Lisätietoja</b> saat Opintopolusta (opintopolku.fi). Mikäli tarvitset apua tuloskirjeen tulkitsemisessa tai valintaan liittyy epäselvyyksiä, voit ottaa yhteyttä korkeakoulujen hakijapalveluihin. Sinua palveleva hakijapalvelu on:
    </p>
</div>
<div class="footer">
    <div class="heading"><b>ALUEHALLINTOVIRASTOJEN OSOITTEET:</b></div>
    <div>
        <div>Etelä-Suomen aluehallintovirasto</div>
        <div>PL 110</div>
        <div>00521 Helsinki</div>
    </div>
    <div>
        <div>Itä-Suomen aluehallintovirasto</div>
        <div>PL 50</div>
        <div>50101 Mikkeli</div>
    </div>
    <div>
        <div>Lounais-Suomen aluehallintovirasto</div>
        <div>PL 22</div>
        <div>20801 Turku</div>
    </div>
    <div>
        <div>Länsi- ja Sisä-Suomen aluehallintovirasto</div>
        <div>PL 200</div>
        <div>65101 Vaasa</div>
    </div>
    <div>
        <div>Pohjois-Suomen aluehallintovirasto</div>
        <div>PL 293</div>
        <div>90101 Oulu</div>
    </div>
    <div>
        <div>Lapin aluehallintovirasto</div>
        <div>PL 8002</div>
        <div>96101 Rovaniemi</div>
    </div>
</div>
</body>
</html>
