<!DOCTYPE html>
<html>
<head lang="fi">
    <meta charset="utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <link rel="stylesheet" type="text/css" href="classpath:/template_styles/ipost_pdf.css"/>
    <title>Tuloskirje</title>
</head>
<body>
<div class='header'>
    <div class="organisaatio"></div>
    <div class='osoitetarra'>
        <div>$osoite</div>
    </div>
</div>

<div class="asiakirjanTyyppi">
    $letterDate
</div>

<div class="asiaotsikko">ILMOITUS OPISKELIJAVALINNAN TULOKSESTA KORKEAKOULUJEN YHTEISHAUSSA SYKSYLLÄ 2014<br/><br/><b>$koulu<br/>$koulutus</b></div>

<div class="sisalto">
    <p>
        HYVÄ HAKIJA,
    </p>

    <p>
        Osallistuit syksyn 2014 korkeakoulujen yhteishakuun. Toistaiseksi sinua ei ole valittu niihin koulutuksiin, joihin hait. Jos olet varasijalla, voit tulla hyväksytyksi vapautuvalle opiskelupaikalle. Vapautuvat paikat täytetään varasijajärjestyksessä. Mikäli tulet hyväksytyksi koulutukseen varasijalta, peruuntuvat mahdolliset alemmat hakutoiveet automaattisesti, etkä voi tulla niihin enää valituksi. Tämän kirjeen kääntöpuolella on tietoa hakutoiveidesi tilanteesta opiskelijavalinnassa.
    </p>

    <p>
        Opiskelijaksi ottamisessa noudatetaan kunkin yliopiston ja ammattikorkeakoulun valintaperusteita. Lisätietoa valintaperusteista ja valinnan tuloksesta saat ko. yliopistosta tai ammattikorkeakoulusta.
    </p>

    <p><b>Muutoksenhakuoikeus</b></p>

    <p>
        Mikäli olet tyytymätön opiskelijavalinnan tulokseen ja opiskelijavalinnassa on mielestäsi menetelty valintaperusteiden vastaisesti, ota yhteyttä sen ammattikorkeakoulun tai yliopiston hakijapalveluihin, jonka hakukohdetta tyytymättömyytesi koskee. Mikäli asia ei tällöin selviä, voit tehdä kirjallisen oikaisupyynnön opiskelijavalintaa koskevasta päätöksestä. Oikaisupyynnöstä tulee käydä ilmi mihin päätökseen haet oikaisua, mitä päätöksessä tulisi muuttaa ja millä perustein haet tätä muutosta. Lisäksi oikaisupyynnöstä on käytävä ilmi oikaisun hakijan henkilö- ja yhteystiedot. Oikaisupyynnön liitteeksi tulee liittää päätös, johon oikaisua haetaan sekä mahdolliset perusteluita tukevat asiakirjat. Ammattikorkeakoulut ja yliopistot eivät käsittele yhteishaussa hyväksytyksi tulleen hakijan oikaisupyyntöä, jos se koskee hakutoivejärjestyksessä alemmaksi asetettua hakukohdetta.
    </p>

    <p>
        Ammattikorkeakoulun hakukohdetta koskeva oikaisupyyntö tulee osoittaa ko. ammattikorkeakoulun hallitukselle ja jättää ammattikorkeakouluun 14 vuorokauden kuluessa tämän ilmoituksen tiedoksisaannista.
    </p>

    <p>
        Yliopiston hakukohdetta koskeva oikaisupyyntö tulee osoittaa yliopistolle tai sen valintaperusteissaan määrittelemälle yliopiston toimielimelle ja jättää yliopistoon 14 vuorokauden kuluessa opiskelijavalinnan tuloksen julkistamisesta.
    </p>
</div>

</body>
</html>