<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Content-Style-Type" content="text/css"/>
	<style type="text/css">$tyylit</style>
	<title>Acceptance letter</title>
</head>
<body>
<div class='header'>
	<div class="organisaatio"></div>
	<div class='osoitetarra'>
		<div>$osoite</div>
	</div>
</div>

<div class="asiakirjanTyyppi">
	$letterDate
</div>

<div class="asiaotsikko">NOTIFICATION OF THE STUDENT SELECTION RESULTS IN JOINT APPLICATION TO HIGHER EDUCATION IN
	AUTUMN 2014<br/><br/><b>$koulu<br/>$koulutus</b></div>

<div class="sisalto">
	$sisalto
	<p><b>The right to claim alterations</b></p>

	<p>
		If you are unsatisfied with the result of the student selection and the student selection has been incorrect
		according to the admission criteria, contact the admission office of the higher education institution in
		question. If the matter is not sorted out this way, you can do a written request for rectification of the
		student selection result. The request for rectification must include the decision to which you are appealing
		alterations, what things in the result should be altered and what is the basis of claiming this alteration. In
		addition, personal details and contact information must be included in the request for rectification. You must
		also attach the result, to which you are claiming the alteration, to the request for rectification and the
		possible documents that support the basis. The higher education institutions do not process a request for
		rectification of an applicant who has been accepted in joint application, if the request for rectification
		concerns a study option lower on the order of preference.
	</p>
	<p>
		A request for rectification concerning a study programme of a polytechnic / university of applied sciences must
		be addressed to the board of the polytechnic / UAS. The request must be submitted to the polytechnic / UAS within
		14 days after receiving this notification.
	</p>

	<p>
		A request for rectification concerning a study programme of a university must be addressed to the university or
		an organ of the university which is said on the admission criteria. The request must be submitted to the
		university within 14 after the publication of the student selection results.
	</p>

	<p><b>Welcome to study!</b></p>

	<p>$hakijapalveluidenYhteystiedot</p>
</div>

</body>
</html>