<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="fi">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <style type="text/css">$tyylit</style>
    <title>Opiskelupaikan vastaanottaminen</title>
</head>
<body>
<div class="liiteSisalto">
    <p>$addressLabel.firstName $addressLabel.lastName</p>
    <p>$koulu</p>
    <p>$koulutus</p>
    <br/>

    <p>OPISKELUPAIKAN VASTAANOTTAMINEN SYKSYN 2014 KORKEAKOULUJEN YHTEISHAUSSA</p>
    <br/>

    <p>
        Olet tullut hyväksytyksi korkeakoulujen yhteishaussa syksyllä 2014. Vahvistaaksesi opiskelupaikkasi, sinun tulee
        vielä ilmoittaa sen vastaanottamisesta. Jollet ilmoita vastaanottamisesta tässä kirjeessä annettuun määräaikaan
        mennessä, menetät opiskelupaikkasi.
    </p>

    <p>
        Voit ottaa opiskelupaikan vastaan sähköisesti Opintopolku.fi –palvelun Omilla Sivuillasi. Sähköinen
        opiskelupaikan vastaanottaminen edellyttää palveluun rekisteröitymistä ja vahvaa tunnistautumista esimerkiksi
        pankkitunnuksia tai mobiilivarmennetta käyttämällä. Mikäli et voi tehdä opiskelupaikan vastaanottamista
        sähköisesti, voit tehdä sen palauttamalla oheisen vastaanottoilmoituksen siinä annettuun osoitteeseen
        määräaikaan mennessä. Sinun tulee tämän lisäksi ilmoittautua korkeakouluusi vielä läsnä- tai poissaolevaksi.
    </p>

    <p>
        Voit ottaa sinulle tarjotun opiskelupaikan vastaan joko sitovasti tai ehdollisesti. Mikäli otat paikan vastaan
        sitovasti, peruuntuvat muut hakutoiveesi, joissa olet hyväksyttynä tai varasijalla, etkä voi enää saada niistä
        opiskelupaikkaa. Jos otat opiskelupaikan vastaan ehdollisesti, voit olla edelleen varasijalla ylempiin
        hakutoiveisiisi. Jos tulet hyväksytyksi ylemmälle hakutoiveellesi, peruuntuu ehdollisesti vastaanottamasi
        opiskelupaikka. Sinun tulee ilmoittaa erikseen ylemmän hakutoiveesi mukaisen opiskelupaikan vastaanottamisesta.
        Jos et tule hyväksytyksi varasijalta ylemmälle hakutoiveelle, muuttuu ehdollinen opiskelupaikan
        vastaanottamisesi sitovaksi.
    </p>

    <p><b>OPISKELUPAIKAN VASTAANOTTAMISILMOITUS KEVÄTLUKUKAUDELLE 2015</b></p>

    <p>$addressLabel.firstName $addressLabel.lastName</p>
    <p>$henkilotunnus</p>
    <p>$koulu</p>
    <p>$koulutus</p>
    <br/>

    <p><b>Ilmoitan sitovasti seuraavaa (X):</b></p>

    <p>
        <b>_</b>&amp;Otan vastaan yllä mainitun opiskelupaikan sitovasti. En ole aiemmin vastaanottanut
        korkeakoulututkintoon johtavaa opiskelupaikkaa syksyn 2014 korkeakoulujen yhteishaussa. Tämän ilmoituksen
        tehtyäni en voi tulla valituksi toiseen korkeakoulututkintoon johtavaan opiskelupaikkaan syksyn 2014
        korkeakoulujen yhteishaussa. Mikäli minulla on ylempiä hakutoiveita, joissa olen hyväksyttynä tai varasijalla,
        en voi tulla enää hyväksytyksi kyseisiin koulutuksiin.
    </p>

    <p>
        <b>_</b>&amp;Otan vastaan yllä mainitun opiskelupaikan ehdollisesti. Mikäli tulen hyväksytyksi ylemmälle
        hakutoiveelleni, peruuntuu yllä mainittu opiskelupaikkani automaattisesti. Mikäli en tule hyväksytyksi ylemmälle
        hakutoiveelleni, muuttuu tämä vastaanottamisilmoitukseni sitovaksi.
    </p>

    <p><b>_</b>&amp;En ota vastaan yllä mainittua opiskelupaikkaa.</p>
    <br/>

    <p>Allekirjoitus ja päiväys:</p>
    <br/>

    <p><b><i>Palauta ilmoitus osoitteeseen $hakijapalveluidenOsoite viimeistään 9.12.2014</i></b></p>
</div>

</body>
</html>