<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="Content-Style-Type" content="text/css"/>
	<style type="text/css">$tyylit</style>
	<title>Table attachment</title>
</head>
<body>
<div class="liiteSisalto">
	<p><b>$addressLabel.firstName $addressLabel.lastName</b></p>
	<br/>

	<p><b>YOUR SITUATION IN JOINT APPLICATION IN AUTUMN 2014</b></p>
	<br/>

	<table>
		<thead>
		<tr>
			<th class="hakutoive">Your study options and priority order</th>
			<th>Accepted / all applicants</th>
			<th>Selection result</th>
			<th>Basis for rejection</th>
			<th>Your placement by selection way / Accepted by selection way</th>
			<th>Your points / the lowest accepted point amount by selection way</th>
		</tr>
		</thead>
		<tbody>
		#foreach( $tulos in $tulokset )
		<tr>
			<td class="hakutoive">$foreach.count. $tulos.organisaationNimi, $tulos.oppilaitoksenNimi<br/>$tulos.hakukohteenNimi</td>
			<td>$tulos.hyvaksytyt / $tulos.kaikkiHakeneet</td>
			<td>$tulos.valinnanTulos</td>
			<td>$tulos.hylkaysperuste</td>
			<td>#foreach($sijoitus in $tulos.sijoitukset)<p>$sijoitus.nimi $sijoitus.oma / $sijoitus.hyvaksytyt</p>#end</td>
			<td>#foreach($pisteet in $tulos.pisteet)<p>$pisteet.nimi $pisteet.oma / $pisteet.minimi</p>#end</td>
		</tr>
		#end
		</tbody>
	</table>

	<p><b>This is how you read the table:</b></p>

	<br/>

	<p>
		<b>Your study options:</b> All of your study options in the same order as on your application.
	</p>

	<p>
		<b>Accepted and all applicants:</b> The amount of all accepted to the study programme in question in relation to the amount of all accepted.
	</p>

	<p>
		<b>Selection result:</b> The selection result can be either accepted, on a waiting list, failed or cancelled.
		The selection result is cancelled if you have been accepted to a study option higher on your list. The selection
		result is also cancelled if all of the starting places have been fulfilled and you have not been accepted to the
		study programme in question. If you have been accepted to a study programme you can see the selection way you
		have been accepted with in this column.
	</p>

	<p>
		<b>Basis for rejection:</b> If your selection status is failed, you cannot be accepted to the study programme.
		In this column you can see the basis of your rejection. You can get more information about the basis of rejection
		in the university or polytechnic / UAS in question.
	</p>

	<p>
		<b>Your placement by selection way / accepted by selection way:</b> If your selection status is on a waiting
		list or cancelled, you can see your placement in this column. You can also see the selection way and the amount
		of all accepted in this column. If your selection result is accepted, failed or cancelled, you cannot be on a
		waiting list and the column is empty. The selection ways are the same as on the admission criteria higher
		education institutions have informed and you find more information of these on the admission criteria of each
		study programme.
	</p>

	<p>
		<b>Your points / the lowest accepted point amount by selection way:</b> If your selection status is on a waiting
		list or cancelled, you can see your points of each selection way of this study programme and the lowest points
		somebody can get accepted with this selection way. The point amount consists of several different parts. The
		possible maximum point amount can vary between different study options and between the study option's different
		selection ways. You find information of the things you get points from in the admission criteria of the study
		programme. The lowest point amount is the lowest point amount an applicant has been accepted with. The point
		amount is not the only thing that has influence on the result of the student selection. For example a failed
		language test or some part of the entrance examination is failed can prevent the selection even though the total
		point amount would be enough to get accepted. You can see the point amount only if it is possible to count the
		points for you with this selection way. Unless there are no point counting on this selection way or it is not possible to count
		the points for you, the column is empty.
	</p>

	<p>
		You can get <b>more information</b> on Studyinfo (studyinfo.fi). If you need help to interpret the result letter
		or there are some confusions with the selection, you can contact the higher education institution's admission
		offices.
	</p>
</div>
<p><b>$hakijapalveluidenOsoite</b></p>
</body>
</html>
