<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head lang="fi">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <link rel="stylesheet" type="text/css" href="classpath:/template_styles/ipost_pdf.css"/>
    <title>Accepting a study place</title>
</head>
<body>
<div class='header'>
    <div class="organisaatio"></div>
    <div class='osoitetarra'>
        <div>$osoite</div>
    </div>
    [hakijan nimi]
    <p>$koulu</p>
    <p>$koulutus</p>
</div>

<div class="asiakirjanTyyppi">
    $letterDate
</div>

<div class="asiaotsikko">ACCEPTING A STUDY PLACE IN JOINT APPLICATION TO HIGHER EDUCATION IN AUTUMN 2014<br/><br/></div>

<div class="sisalto">
    <p>
        You have been accepted in joint application to higher education in autumn 2014. To confirm your study place, you
        have to inform that you accept it. If you do not inform the acceptance by the deadline given in this letter, you
        will lose the offered study place.
    </p>

    <p>
        You can accept the study place electronically on your own pages on Studyinfo.fi-service. The electronical
        acceptance of the study place requires registry to the service and strong authentication by using online bank
        service code or mobile authentication. If you cannot do the acceptance of the study place electronically, you
        can do it with returning the attached acceptance notification to the address given in it by deadline. In
        addition you need to enrol to your higher education institution as attending or not-attending student.
    </p>

    <p>
        You can accept the study place offered to you either as binding or conditional. If you accept the study place as
        binding, other study options, to which you are on a waiting list or accepted, will be cancelled. If you accept
        the study place conditionally, you can still be on a waiting list to study options higher on your list. If you
        get accepted to a study programme higher on your list, the study place you accepted conditionally, will
        automatically be cancelled. You need to inform accepting a study place higher on your list separately. If you
        are not accepted to a study place higher on your list from a waiting list, the study place you accepted
        conditionally will change binding.
    </p>

    <p><b>ACCEPTANCE NOTIFICATION TO STUDY PROGRAMME IN SPRING TERM 2015</b></p>

    [Hakijan nimi]
    [Hakijan hetu tai hetuttomalla syntymäaika]
    <p>$koulu</p>
    <p>$koulutus</p>

    <p><b>I inform this as a binding choice (X):</b></p>

    <p>
        <b>_</b> I accept the study place mentioned above as binding. I have not accepted any other higher education
        study place in joint application in autumn 2014. After doing this notification I cannot be accepted to another
        higher education study place in joint application in autumn 2014. If I have study options higher on my list to
        which I am accepted or on a waiting list, I cannot be accepted to those study programmes anymore.
    </p>

    <p>
        <b>_</b> I accept the study place mentioned above conditionally. If I get accepted to a study option higher on
        my list, this study place mentioned above will be cancelled automatically. If I do not get accepted to a study
        option higher on my list, this acceptance notification will change binding.
    </p>

    <p><b>_</b> I do not accept the study place mentioned above. </p>

    <p>Signature and date:</p>

    <p><b><i>Return to the address xxx,xxxxxx at the latest on 9 December 2014.</i></b></p>
</div>

</body>
</html>