body {
    margin: 1em;
}

.tab-content {
    margin: 5px;
}

textarea {
    height: 20px;
}

.table input {
    margin-bottom: 0;
    display: block;
}

.table th {
    vertical-align: middle;
}

table.tulokset th {
    border-top: none;
}

.table .input-pile {
    margin-bottom: 10px;
}

input.generate {
    margin: 8px;
    width: 4em;
}

.run-action {
    margin: 0 8px 10px 0;
    float: right;
}

td.inline-operation {
    text-align: right;
}

.navbar .inline-operation button {
    width: 60px;
    height: 30px;
    margin-top: 0;
    float: right;
}

.navbar .icon-operation button {
    width: 30px;
    height: 30px;
    margin-top: 0;
}

.osoite div {
    white-space: nowrap;
}
