<div class="modal error-dialog">
    <div class="modal-header dialog-header-error">
        <h3 ng-bind="'dialog.error.header' | i18n"></h3>
    </div>
    <div class="modal-body text-danger">
        <div class="alert alert-block">
            <img src="./assets/img/alert-icon28x29.png"/>
            <span ng-bind="msg"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" ng-click="close()"
        <button type="button" class="btn btn-primary" ng-click="close()" ng-bind="'dialog.ok' | i18n"></button>
    </div>
</div>