<div class="modal {{opts.type}}-dialog">
    <div class="modal-header dialog-header-{{opts.type}}">
        <h3 ng-bind="'dialog.{{opts.type}}.header' | i18n"></h3>
    </div>
    <div class="modal-body text-danger">
        <div class="{{opts.type}} {{opts.type}}-block">
            <img src="./assets/img/{{opts.type}}-icon28x29.png"/>
            <span ng-bind="opts.msg"></span>
        </div>
    </div>
    <!-- TODO: pass the buttons from controller -->
    <div class="modal-footer" ng-if="opts.type == 'confirm'">
        <button type="button" class="btn" ng-click="cancel()" ng-bind="'dialog.cancel' | i18n"></button>
        <button type="button" class="btn btn-primary" ng-click="confirm()" ng-bind="'dialog.ok' | i18n"></button>
    </div>
    <div class="modal-footer" ng-if="opts.type != 'confirm'">
        <button type="button" class="btn btn-primary" ng-click="cancel()" ng-bind="'dialog.ok' | i18n"></button>
    </div>
</div>