<table class="table singleRowTable">
    <thead>
        <tr>
            <th>OTSIKKO</th>
            <th>LIITETIEDOSTOT</th>
            <th>TALLENNETTU</th>
        </tr>
    </thead>
    <tbody ng-repeat="draft in pagedDrafts[currentPage-1]" ng-click="useDraft(draft)">
        <tr>
            <td>{{draft.subject}}</td>
            <td>
                <div ng-if="draft.attachInfo[0]">
                    <span>{{draft.attachInfo[0].fileName}}</span>
                    <span>&nbsp;</span>
                    <span>({{draft.attachInfo[0].fileSize | bytesToSize}})</span>
                    <span ng-show="draft.attachInfo.length > 1" tooltip-placement="right" tooltip-html-unsafe={{getAttachmentsAsHtml(draft)}}><i class="note-icon">*</i></span>
                </div>
            </td>
            <td>{{draft.createDate}}</td>
        </tr>
        <tr><td colspan="3"><div class="previewText">{{draft.body | htmlToPlainText }}</div></td></tr>
    </tbody>
</table>
<div ng-hide="totalItems() <= itemsPerPage" class="pagination">
    <pagination total-items="totalItems()" ng-model="currentPage" ng-change="pageChanged()" max-size=itemsPerPage ></pagination>
</div>
