<table class="table singleRowTable">
    <thead>
        <tr><td>OTSIKKO</td><td>LIITETIEDOSTOT</td><td>TALLENNETTU</td></tr>
    </thead>
    <tbody ng-repeat="draft in drafts">
        <tr><td>{{draft.subject}}</td><td>Lorem-ipsum.pdf(55kt)</td><td>13.6.2014 16:06</td></tr>
        <tr><td colspan="3"><div class="previewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis sem laoreet, facilisis mauris at, porta nulla. Duis scelerisque orci ut blandit mollis. Mauris ac odio porttitor mi luctus fermentum. Proin pharetra dolor id ante lobortis, vitae volutpat quam hendrerit. Morbi dui justo, pharetra commodo ante nec, adipiscing accumsan neque. Donec eget adipiscing enim, nec fermentum nunc. Aenean vitae condimentum erat. Sed pretium urna eget felis interdum, at tempor velit fermentum. Aenean quis gravida arcu, id feugiat tortor. Etiam scelerisque ultrices sapien eu bibendum. Suspendisse nec varius erat, eget accumsan dui. Proin pharetra rhoncus nunc, eu consequat tortor. Nam convallis nulla hendrerit leo bibendum, ac vehicula enim fermentum. Aenean blandit blandit libero. Sed blandit dui vehicula nisi pharetra, vel malesuada nulla elementum.</div></td></tr>
    </tbody>
</table>
<div class="pagination">
    <ul>
        <li>Edellinen</li>
        <li>1</li>
        <li>Seuraava</li>
    </ul>
</div>