<div class="container-fluid">
    <div class="row">
        <div class="span12">
            <button-group buttons="buttons" button-class="inline-operation btn btn-small margin-right-half"></button-group>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h2>Muokkaa kirjeen luonnosta</h2>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <span>{templateName} {language}</span>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <button-group buttons="buttons" button-class="inline-operation btn btn-small margin-right-half"></button-group>
        </div>
    </div>
</div>