<style>
    tr {
        border-bottom-style: hidden;
    }

    .tree-grid {
        border-top-style: hidden;
        border-bottom-style: hidden;
        max-width: 100em;
    }

     .tree-grid tbody td a {
         text-decoration: none;
     }

    table thead tr:first-child {
        min-width: 400em;
    }

</style>

<div class="container-fluid">
    <h1>Kirjepohjat ja -luonnokset</h1>
    <div class="control-group">
        <select ng-model="selectedApplicationPeriod" ng-change="updateTreeData(selectedApplicationPeriod)" ng-options="Object.nimi.kieli_fi for Object in applicationPeriodList" class="selectpicker span6 placeholder">
        </select>
    </div>
    <tabset>
        <tab heading="Organisaation oletuskirjepohjat">
            <tree-grid
                    tree-data       = "template_tree_data"
                    col-defs        = "col_defs"
                    icon-leaf       = "icon-actionmenu"
                    icon-expand     = "icon-expand"
                    icon-collapse   = "icon-expanded"
                    on-select       = "my_tree_handler(branch)"
                    expand-level    = "2"
                    >
            </tree-grid>
        </tab>
        <tab heading="Hakukohteiden kirjeluonnokset">
            <tree-grid
                    tree-data       = "draft_tree_data"
                    col-defs        = "col_defs"
                    icon-leaf       = "icon-actionmenu"
                    icon-expand     = "icon-expand"
                    icon-collapse   = "icon-expanded"
                    on-select       = "my_tree_handler(branch)"
                    expand-level    = "1"
                    >
            </tree-grid>
        </tab>
    </tabset>
</div>
