<div class="modal info-dialog">
    <div class="modal-header dialog-header-info">
        <h3>Luo uusi kirjepohja</h3>
    </div>
    <div class="modal-body">
        <div>
            <p class="bold">Luo kirjepohja haulle:</p>
            <select class="full-width" ng-model="applicationTarget.value" ng-options="t.value as t.name for t in applicationTargets | orderBy: 'name'" ng-change="selectTarget()"></select>
        </div>
        <input-list label="Luotava kirjepohjatyyppi:" items="applicationTypes" model="applicationTypeSelection" input="radio"></input-list>
        <input-list label="Luotava kieliversio:" items="languages" model="languageSelection" input="radio"></input-list>
        <p class="bold">Käytä pohjana:</p>
        <div ng-if="!applicationTypeSelection || !languageSelection">
            <select class="full-width" disabled>
                <option value="none">Valitse ensin kirjepohjan tyyppi ja kieliversio</option>
            </select>
        </div>
        <div ng-if="applicationTypeSelection && languageSelection">
            <select class="full-width" ng-model="baseTemplate" ng-options="t.value as t.name for t in applicationTargets | orderBy: 'name'" ng-change="selectBase()">
                <option value=""><b>Oletuskirjepohja</b></option>
            </select>
        </div>
        <p class="subnote">Valitse uuden kirjepohjan lähtökohdaksi jokin haku, oletuskirjepohja tai tyhjä dokumentti.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" ng-click="cancel()">Peruuta</button>
        <button type="button" class="btn btn-primary" ng-click="confirm()">Luo</button>
    </div>
</div>