<div class="modal info-dialog">
	<div class="modal-body">
		<p class="bold">{{'dialog.publishtemplate' | i18n}}</p>
		<label auth="crudOph"><input type="checkbox" ng-model="modalData.usedAsDefault" /> {{'dialog.useasdefault' | i18n}} </label>
	</div>
	
	<div class="modal-footer">
		<button type="button" class="btn" ng-click="cancel()">{{'dialog.cancel' | i18n}}</button>
		<button auth="crudOph" type="button" class="btn btn-primary" ng-click="publish()">{{'dialog.publish'	| i18n}}</button>
	</div>
</div>